html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

b,
strong {
  font-weight: bold;
}

img {
  width: 100%;
  max-width: 100%;
}