// $primary-color: #F4E041;
// $secondary-color: #00BDD3;
$base-title-color: #000000;

$background-color: #F8F8F8;
$header-bg-color: #FFF;

$button-bg: #F4E041;
$button-bg-hover: #FFE302;
$button-bg-disabled: #B4B4B4;

$hero-title-color: white;
$users-title-color: $base-title-color;
$form-title-color: $base-title-color;

$hero-text-color: white;



